.red-bg {
  background-color: #FC4349; }

.red-text {
  color: #FC4349; }

.pink-bg {
  background-color: #E4004F; }

.pink-text {
  color: #E4004F; }

.blue-bg {
  background-color: #41768e; }

.blue-text {
  color: #41768e; }

.grey-bg {
  background-color: #D7DADB; }

.grey-text {
  color: #D7DADB; }

.dark-grey-bg {
  background-color: #666; }

.dark-grey-text {
  color: #666; }

.light-blue-bg {
  background-color: #99c9b1; }

.light-blue-text {
  color: #99c9b1; }

.white-bg {
  background-color: #fff; }

.white-text {
  color: #fff; }

.indigo-bg {
  background-color: #2F33AC; }

.indigo-text {
  color: #2F33AC; }

.black-bg {
  background-color: #000; }

.black-text {
  color: #000; }

.brown-bg {
  background-color: #41393e; }

.brown-text {
  color: #41393e; }

.blond-bg {
  background-color: #f2f2c6; }

.blond-text {
  color: #f2f2c6; }

.baby-blue-bg {
  background-color: #a1d2ed; }

.baby-blue-text {
  color: #a1d2ed; }
