@import 'colors.scss';

html,body{
	height: 100%;
}

.box-content{
	background: rgba(0, 219, 255, 0.1);

}

.box-head{
	p{
		font-size: 2em;
	}
}

.h-img{
	background: url("../images/h-img.jpg"), black;
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: center;
}

.h-name{
	width: 100%;
	top: 45%;
}


.img-box{
	img{
		padding-top: 15px;
	}
}

.navigator{
	font-family: 'PT Sans', sans-serif;
	font-size: 2em;
	width: 100%;
	z-index: 2;
	color: #fff;
}

.nav-link:hover{
	background-color: #f2f2c6;
	cursor: pointer;
	transition: all 500ms;
	color: #000 !important; 
}

.next-travels{
	
}
.pined{
	position: fixed;
	top: 0px;
}

.site-name{
	padding-left: 3.5em;

}

.title-travel{
	padding: 0.5em;
	font-size: 1.2em;	
}

.tableline{
	height: 400px;
	width: 100%;
	margin: auto;
	margin-top: -200px;
}
.text-travel{
	padding: 1em 1.5em;
}


@media only screen and (min-width: 680px) and (max-width: 1200px){
	.tableline{
		width: 80%;
	}
}


@media only screen and (min-width: 1200px){
	.tableline{
		width: 40%;
	}
}

