.navigator{
	background-color: rgba(0,0,0,0.18);
	font-family: 'PT Sans', sans-serif;
	font-size: 2em;
	width: 100%;
	z-index: 2;
}

.h-img{
	background: url("../images/h-img.jpg"), black;
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: center;
}

.head-name{
	width: 100%;
	top: 45%;
}

.card{
	height: 600px;
	width: 80%;
	background-color: white;
	margin: 0 auto;
}

.site-name{
	padding-left: 3.5em;

}

.pined{
	position: fixed;
	top: 0px;
}


/**************/
/***HELPERS***/
/************/
.absolute{
	position: absolute;
}

.bg-black{
	background-color: black;
}
.fixed{
	position: fixed;
}

.fix-sticky{
	margin: 0 -12px;

}

.font-script{
	font-family: 'Kaushan Script', cursive;
}

.full-height{
  height: 1200px;
}

.full-width{
  width: 100%;
}

.half-width{
	width: 50%;
}

.hidden {
  display: none;
}

.m-top{
	margin: 0;
}

.no-padding{
	padding: 0;
}

.text-medium{
	font-size: 4.5em;
}

.text-center{
	text-align: center;
}


.white-text{
	color: white;
}

.relative{
	position: relative;
}



.row.fx-row{
	margin: auto 0;
}

.shadow-text{
	text-shadow: -1px -3px 6px #000;
}
