- gallery_photos = ["travel1"]

!!! 5
%html{class: "no-js", lang: "es"}
	%head
		%meta{ charset: "utf-8"}
		%meta{ name: "description", content: "Sitio para degustar algo"}
		%meta{ name: "viewport", content: "width=device-width, initial-scale=1"}
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"css/main.css"}
		%link{rel:"stylesheet", href:"css/flexboxgrid.css"}		
		%link{rel:"stylesheet", href:"css/style.css"}
		%link{rel:"stylesheet", href:"css/animate.css"}
		%link{rel:"stylesheet", href:"https://fonts.googleapis.com/css?family=Kaushan+Script|Satisfy"}
		%link{rel:"stylesheet", href:"https://fonts.googleapis.com/css?family=PT+Sans"}		
				
		
		%link{rel:"stylesheet", href:"css/bootstrap.min.css"}
		%title Reservación, Tour y Viajes
	%body
		%header.h-img.relative.white-text
			.head-name.absolute.animated.fadeInDown.delay-2s.text-center
				.row.fx-row
					.col-xs-12
						.box.box-head
							%h1.font-script.text-medium.shadow-text.tex
								Sitio de viajes y destinos turisticos
			%nav.navigator#navigation.m-top.fixed
				- menu = ['Inicio', 'Menú', 'Galería', 'Contacto', 'Cómo llegar']
				%ul.nav.justify-content-end
					- menu.each do |item|
						%li.nav-item
							%a.nav-link{}= item					
				
			%nav.fix-sticky.full-width.row.middle-xs.fx-row.hidden#sticky-navigation.brown-bg.white
				.col-xs-6.text-left.no-padding
					.box
						%span.site-name	Sitio de Viajes
				.col-xs-6.no-padding
					.box
						%ul.nav.center-xs
							- menu.each do |item|
								%li.nav-item
									%a.nav-link{}= item
					
		.box-content
			.card-announcement.relative.border-semi.white-text
				.title-travel.light-blue-bg.center-xs.middle-xs.border-semi
					%p.no-margin Próxima Salida: 12 Mayo 2019
				.title-travel-body.dark-grey-bg.full-height				
					.h2-image.center-xs.middle-xs
						%h2.no-margin.top-space Puebla
					.img-box.middle-xs.center-xs
						- gallery_photos.each do |image|
							%img{src:"images/#{image}.jpg", width: "380", height: "320"}
					.text-travel.text-justify.padding-large-y
						%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.					
					.control-images.text-right
						.bullet-travel
						.bullet-travel
						.bullet-travel
		.full-height.relative.lemon-bg{style:"height: 500px"}
			%h2 Paquetes
			%p Cada uno de nuestros paquetes tienen la siguiente información: EFECTO DEIMAGEN SE LEVANTA Y SE VE EL PRECIO
			%ul
				%li	Seguro
		.full-height
			%h2 Transportes
			%p Puntos de Salida/Encuentro. Automoviles. Reservación
		
	%script{src:"js/main.js"}

