!!! 5
%html{class: "no-js", lang: "es"}
	%head
		%meta{ charset: "utf-8"}
		%meta{ name: "description", content: "Sitio para degustar algo"}
		%meta{ name: "viewport", content: "width=device-width, initial-scale=1"}
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"css/main.css"}
		%link{rel:"stylesheet", href:"css/flexboxgrid.css"}		
		%link{rel:"stylesheet", href:"css/style.css"}
		%link{rel:"stylesheet", href:"https://fonts.googleapis.com/css?family=Kaushan+Script|Satisfy"}
		%link{rel:"stylesheet", href:"https://fonts.googleapis.com/css?family=PT+Sans"}		
				
		
		%link{rel:"stylesheet", href:"css/bootstrap.min.css"}
		%title Reservación, Tour y Viajes
	%body
		%header.h-img.relative.white-text
			.head-name.absolute
				.row.fx-row
					.col-xs-12
						.box.box-head
							%h1.font-script.text-medium.shadow-text
								Sitio de viajes y destinos turisticos
			.navigator
				%ul.nav
					%li.nav-item
						%a.nav-link Inicio
					%li.nav-item
						%a.nav-link Viajes
					%li.nav-item
						%a.nav-link Reservaciones
					%li.nav-item 
						%a.nav-link Planes
					%li.nav-item 
						%a.nav-link Contacto
		.container
			.row.full-height
				.col-xs-12
					.card
						%h2 HOLA
