- gallery_photos = ["travel1"]

- menu = ['Inicio', 'Menú', 'Galería', 'Contacto', 'Cómo llegar']

!!! 5
%html{class: "no-js", lang: "es"}
	%head
		%meta{ charset: "utf-8"}
		%meta{ name: "description", content: "Sitio para degustar algo"}
		%meta{ name: "viewport", content: "width=device-width, initial-scale=1"}
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"css/main.css"}
		%link{rel:"stylesheet", href:"css/flexboxgrid.css"}		
		%link{rel:"stylesheet", href:"css/style.css"}
		%link{rel:"stylesheet", href:"css/common.css"}
		%link{rel:"stylesheet", href:"css/carrousel.css"}
		%link{rel:"stylesheet", href:"css/animate.css"}
		%link{rel:"stylesheet", href:"https://fonts.googleapis.com/css?family=Kaushan+Script|Satisfy"}
		%link{rel:"stylesheet", href:"https://fonts.googleapis.com/css?family=PT+Sans"}								
		%link{rel:"stylesheet", href:"css/bootstrap.min.css"}
		%title Reservación, Tour y Viajes
	%body
		%nav.navigator#navigation.m-top.fixed				
			%ul.nav.justify-content-end
				- menu.each do |item|
					%li.nav-item
						%a.nav-link{}= item					
					
		%nav.fix-sticky.full-width.row.middle-xs.fx-row.hidden#sticky-navigation.brown-bg.white
			.col-xs-6.text-left.no-padding
				.box
					%span.site-name	Sitio de Viajes
			.col-xs-6.no-padding
				.box
					%ul.nav.center-xs
						- menu.each do |item|
							%li.nav-item
								%a.nav-link{}= item

		%header.h-img.relative.white-text
			.slider
				.img-container
					%img{src:"images/h-img1.jpg"}
					%img{src:"images/h-img2.jpg"}
					%img{src:"images/h-img3.jpg"}
				.controls
					%ul
			.h-name.absolute.animated.fadeInDown.delay-1s.text-center
				.box-head.shadow-text					
					%h1.font-script.text-medium
						Sitio de viajes y destinos turisticos
					%p Encuentra tu próximo destino y conoce nuevos lugares.
		.row.full-height.fx-row.center-xs.top-space
			.col-xs-12.col-md-4.col-lg-3
				.box
					.card.relative
						%h2.padding-h2 Viaje 1
						.card-body.text-justify
							%p Hola esta es la descripción del próximo viaje que se realizará, debe ser muy breve para atraer a potenciales clientes.
						.card-img								
							%img{src:"images/h-img1_tn.jpg", height: "200px", class: 'img-hover'}
			.col-xs-12.col-md-4.col-lg-3
				.box
					.card.relative
						%h2.padding-h2 Viaje 2
						.card-body.text-justify
							%p Hola esta es la descripción del próximo viaje que se realizará, debe ser muy breve para atraer a potenciales clientes.
						.card-img	
							%img{src:"images/h-img2_tn.jpg", height: "200px", class: 'img-hover'}
			.col-xs-12.col-md-4.col-lg-3
				.box
					.card
						%h2.padding-h2 Viaje 3
						.card-body.text-justify						
							%p Hola esta es la descripción del próximo viaje que se realizará, debe ser muy breve para atraer a potenciales clientes.
						.card-img				
							%img{src:"images/h-img3_tn.jpg", height: "200px"}
			.box-travels.font-script
				%h2 Expande tu rumbo, ve más allá de tus límites, explora y descubre nuevos lugares.
		.full-height.black-bg

		
	%script{src:"js/main.js"}
	%script{src:"js/carrousel.js"}
	

